*, html, body {margin: 0; padding: 0;}
body {background-color: #fefefe; font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;}
nav, footer, header, article, section {display: block;}
ul, li, a {text-decoration: none; list-style: none; color: black}

/* font face */
@font-face { 
	font-family: ChaparralPro; 
	src: url('../fonts/ChaparralPro-Regular.otf'); 
}

/* banner's style */
.banner {
	position: relative;
}
.banner_1st {
	width: 100%;
	height: 460px;
	background-image: url('../img/bannerbg1.png');
	background-position: center;
	background-size: cover;
}
.banner1_tag {
	font-family: ChaparralPro;
	width: 50px;
	color: #fbfffe;
	background-color: #ff3529;
	box-shadow: 5px 5px 1px #c22216;
	padding: 19px 11px 15px 18px;
	position: absolute;
    left: -8px;
    top: 15px;
}

.banner_1st p {
	font-family: ChaparralPro;
	color: #fbfffe;
	font-size: 2em;
	font-weight: 900;
	max-width: 555px;
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
}
.banner_1st a {
	color: #fbfffe;
    font-weight: 100;
    padding: 5px 35px;
    border: 2px solid white;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -99px;
    transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari 和 Chrome */
	-o-transition: all 0.5s; /* Opera */
}
.banner_1st a:hover {
	color: #4e4e50;
	background-color: #fbfffe;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari 和 Chrome */
	-o-transition: all 0.5s; /* Opera */
}
.select_btn_group {
	position: relative;
	width: 115px;
	height: 10px;
	margin: 0 auto;
	top: 120px;
}
.select_btn {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: white;
	border: 3px solid white;
	margin: 0 3px;
}
.selected_btn {
	background-color: #ef3924;
}

/* color bar style */
.color_bar {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #ACCE22;
}

/* intro */
.intro {
	width: 100%;
	height: 480px;
	position: relative;
	background-image: url('../img/cross.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
}
.intro_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/introbg.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: contain;
}
.intro h3 {
	position: relative;
	top: 180px;
	font-size: 2em;
	font-weight: 100;
	width: 400px;
	padding-left: 550px;
}
.intro p {
	position: relative;
	top: 200px;
	width: 400px;
	padding-left: 550px;
	line-height: 1.5em;
}

/* five steps */
.five_steps {
	position: relative;
	height: 520px;
	width: 100%;
	font-size: 0;
	-webkit-text-size-adjust: none;
}
.steps_background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	background-image: url('../img/stepsbg.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.five_steps>h3, .five_steps>h4 {
	position: absolute;
	width: 100%;
	text-align: center;
}
.five_steps>h3 {
	padding-top: 40px;
	font-size: 42px;
	font-weight: 100;
	color: white;
}
.five_steps>h4 {
	padding-top: 85px;
	font-size: 28px;
	font-weight: 100;
	color: white;
}
.steps {
	font-size: 14px;
	display: inline-block;
	width: 20%;
	height: 100%;
	vertical-align:top;
}
.steps h3 {
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 135px auto 0 auto;
	color: white;
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	border: 2px solid white;
	border-radius: 50% 50%;
}
.steps h4 {
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
	margin-top: 10px;
}
.steps p {
	width: 90%;
    margin: 15px auto;
	line-height: 1.5em;
	text-align: justify;
}

.st1 {
	background-color: rgba(179,155,119,0.2);
}
.st2 {
	background-color: rgba(179,155,119,0.3);
}
.st3 {
	background-color: rgba(179,155,119,0.5);
}
.st4 {
	background-color: rgba(179,155,119,0.7);
}
.st5{
	background-color: rgba(179,155,119,0.9);
}


/*//////////////////////////////////////*/
/* media control */
@media screen  and (max-width: 65.3125em){

	.intro h3, .intro p {
		padding-left: 350px!important;
	}
	.intro p {
		width: 400px!important;
	}

	.five_steps {
		height: auto!important;
	}
	.steps {
		display: block!important;
		width: 100%!important;
		height: 360px!important;
		padding-top: 50px!important;
	}
	.steps h3 {
		margin-top: 0!important;
	}
	.steps p {
		width: 60%!important;
	}
	.five_steps>h3, .five_steps>h4 {
		position: relative!important;
		background-color: rgba(179,155,119,0.2);
		color: #222!important;
	}
	.five_steps>h4 {
		padding-top: 15px!important;
		background-color: rgba(179,155,119,0.2);
	}
	.steps_background {
		display: none;
	}
}
@media screen and (max-width: 33.75em) {


	.banner1_btn {
		top: 30px!important;
	}
	.banner_1st p {
		font-size: 1.7em !important;
	}
	.select_btn_group {
		top: 68px !important;
	}
	.intro {
		height: 600px!important;
	}
	.intro h3 {
		padding-left: 0!important;
		width: 100% !important;
		top: 380px !important;
		text-align: center;
	}
	.intro p {
		padding-left: 0!important;
		width: 90% !important;
		text-align: left;
		margin: 0 auto;
		top: 408px!important;
	}
	.steps p {
		width: 90%!important;
	}

}