nav, footer, section {display: block}
*, body {margin: 0; padding: 0;}
body {font-family: PingFang, Helvetica, Tahoma, Arial, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;}
.section { text-align: center; font-size: 50px; color: #fff;}
